/* Main Section */

.main-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}




/* Lateral Menu */

.menuLateral {
    width: 200px;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
    justify-content: space-between;
    background-color: #F5F4F9;
    color: #381845;
    font-weight: bold;
    position: fixed;
}

.menuLateral a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #381845;
    background-color: #B692B2;
    border-radius: 0px;
}

.menuLateral a:hover {
    text-decoration: none;
    color: #613E67;
}

.main-section {
    min-height: 350px;
}

.llistat-actual {
    margin-bottom: 40px;
}

/* Mobile First Attributes */

@media(max-width: 700px) {
    .reserves-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .reserves-cards img {
        max-height: none;
    }

}


@media(max-width: 500px) {
    .reserves-cards {
        grid-template-columns: 1fr;
    }

    .reserves-cards img {
        max-height: none;
    }
}