
  
  .cookie-banner {
    background: #381845fe;
    color: #FFF;
    opacity: 0.8;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 150px;
    position: fixed;
    display:none
  }
  .cookie-banner .container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .cookie-banner .cookie-close{
    float: right;
    padding: 10px;
    cursor: pointer;
  }