/* Home cards */
.usuari-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 150px;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .title {
      text-align: center;
  }

  .usuari-cards .btn {
    width: 100%;
    text-align: center;
  }
  
  .usuari-cards img {
    width: 100%;
    margin-bottom: 10px;
    max-height: 320px;
  }
  
  .usuari-cards h3 {
    margin-bottom: 5px;
    text-align: center;
  }

  .usuari-cards p {
      text-align: center;
  }
  
  .usuari-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #381845;
    font-weight: bold;
  }
  
  .usuari-cards a:hover i {
    margin-left: 10px;
  }

  /* Mobile First Attributes */

  @media(max-width: 700px) {
    .usuari-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
      }
      .usuari-cards img {
        max-height: none;
      }
      .usuari-section-a {
        background-size: contain;
      }
      .usuari-section-c {
        background-size: contain;
      }
    
    }


  @media(max-width: 500px) {
    .usuari-cards {
      grid-template-columns: 1fr;
    }
 
    .usuari-cards img {
        max-height: none;
      }
  }