/* Main Section */

.main-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h4{
    color: #613E67;
  }
  
  
  /* Lateral Menu */
  .menuLateral {
    width: 200px;
    align-items: center;
    padding: 20px 0;
    font-size: 13px;
    justify-content: space-between;
    background-color: #F5F4F9;
    color: #381845;
    font-weight: bold;
  }
  
  .menuLateral a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #381845;
    background-color: #B692B2;
    border-radius: 0px;
  }
  
  .menuLateral a:hover {
    text-decoration: none;
    color: #613E67;
  }

  .content{
      text-align: center;
  }
  
  .reserves {
    display: inline-block;
  }
  
  /* Reserves cards */
  .reserves-cards {
    margin-bottom: 40px;
  }
  
  .reserves-cards .btn {
    width: fit-content;
  }
  
  .content img {
    width: 95%;
    align-self: center;
    justify-self: center;
    margin-bottom: 10px;
  }
  
  .reserves-cards h3 {
    margin-bottom: 5px;
    text-align: center;
  }
  
  .reserves-cards p {
    text-align: center;
  }
  
  .reserves-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #381845;
    font-weight: bold;
  }
  
  .reserves-cards a:hover i {
    margin-left: 10px;
  }
  
  
  /* Mobile First Attributes */
  
  @media(max-width: 700px) {

  
    .reserves-cards img {
      max-height: none;
    }
  
    .main-section {
      display: block;
    }
  
    .reserves-cards .btn {
      margin-bottom: 10px;
      width: 100%;
    }
  
  }
  
  
